body{
  display: flex;
  flex-wrap: wrap;
  background-color: #bae0ec;
}
header{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

nav > ul{ 
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

#bannière{
  width: 80%;
  height: 15em;
  border-radius: 2em;
  box-shadow:0px 0px 30px -17px;
  margin-left: 10%;
}

nav, h2, h3{
  flex-basis: 100%;
}

main{
  flex-basis: 70%;
  display: flex;
  flex-wrap: wrap;
}
div{
  display: flex;
  flex-wrap: nowrap;
}

#pactuelle{
  background-color: lightgray;
}

#boutique{
  display: flex;
}

#boutique > img{
  height: 15vh;
  width: 10vw;
}

li{
  border: thin solid black;
  border-radius: 20px;
  flex-basis: 15%;
  text-align: center;
  background-color: lightcoral;
  flex-grow: 1;
  padding: 0.5em;
}

aside{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 29%;
  border: thin solid black;
  border-radius: 20px;
  background-color: lightpink;
  max-height: 30%;
  text-align: center;
}

aside > ul{
  width: 85%;
  list-style-type: none;
}

section{
  display: flex;
  flex-wrap: wrap;
}

div > img{
  height: 20vh;
  width: 10vw;
  margin: 1%;
}
p{
  margin:1%;
}

footer{
  display: flex;
  flex-wrap: nowrap;
  border: thin solid black;
  margin: 1%;
  flex-basis: 100%;
  justify-content: space-between;
}